In [1]:
from game import Game
from player import Player
import numpy as np
import pandas as pd

In [2]:
def print_transactions(arr):
    for i in range(3):
        df = pd.DataFrame(data=arr[i], index=["Buyer " + str(i) for i in range(3)], columns=["Seller " + str(i) for i in range(3)])
        display(df)


def print_players_and_questions(arr):
    arr = np.array(arr)
    df = pd.DataFrame(data=arr.T, index=["Player " + str(i) for i in range(3)], columns=["Q1", "Q2", "Q3"])
    display(df.round(1))

In [3]:
# True values of: 50, 100, 200, 3 Players, 5 Rounds
g = Game([50, 100, 200], num_players=3, num_rounds=5)

# Names of A, B, and C
g.player_setup(["A", "B", "C"])

# 
g.players[0].assign_bids_and_asks([1, 40, 60, 1], [1, 90, 100, 1], [1, 190, 210, 1])
g.players[1].assign_bids_and_asks([1, 50, 60, 1], [1, 80, 85, 1], [1, 100, 120, 1])
g.players[2].assign_bids_and_asks([1, 70, 80, 1], [1, 110, 120, 1], [1, 300, 310, 1])

g.play_round()

True

In [4]:
g.get_last_transaction_display()

[[[(0.0, 0.0), (0.0, 0.0), (0.0, 0.0)],
  [(0.0, 0.0), (0.0, 0.0), (0.0, 0.0)],
  [(65.0, 1.0), (0.0, 0.0), (0.0, 0.0)]],
 [[(0.0, 0.0), (0.0, 0.0), (0.0, 0.0)],
  [(0.0, 0.0), (0.0, 0.0), (0.0, 0.0)],
  [(0.0, 0.0), (97.5, 1.0), (0.0, 0.0)]],
 [[(0.0, 0.0), (0.0, 0.0), (0.0, 0.0)],
  [(0.0, 0.0), (0.0, 0.0), (0.0, 0.0)],
  [(0.0, 0.0), (210.0, 1.0), (0.0, 0.0)]]]

In [5]:
g.players[0].assign_bids_and_asks([1, 40, 60, 2], [1, 90, 100, 1], [1, 190, 210, 1])
g.players[1].assign_bids_and_asks([1, 50, 60, 1], [1, 80, 85, 2], [1, 100, 120, 2])
g.players[2].assign_bids_and_asks([1, 70, 80, 2], [1, 110, 120, 1], [1, 300, 310, 1])

g.play_round()

True

In [13]:
print_transactions(g.transactions_history[0])
print_transactions(g.transactions_history[1])

         Seller 0  Seller 1  Seller 2
Buyer 0       0.0       0.0       0.0
Buyer 1       0.0       0.0       0.0
Buyer 2      65.0       0.0       0.0

         Seller 0  Seller 1  Seller 2
Buyer 0       0.0       0.0       0.0
Buyer 1       0.0       0.0       0.0
Buyer 2       0.0      97.5       0.0

         Seller 0  Seller 1  Seller 2
Buyer 0       0.0       0.0       0.0
Buyer 1       0.0       0.0       0.0
Buyer 2       0.0     210.0       0.0

         Seller 0  Seller 1  Seller 2
Buyer 0       0.0       0.0       0.0
Buyer 1       0.0       0.0       0.0
Buyer 2      65.0       0.0       0.0

         Seller 0  Seller 1  Seller 2
Buyer 0       0.0      87.5       0.0
Buyer 1       0.0       0.0       0.0
Buyer 2       0.0      97.5       0.0

         Seller 0  Seller 1  Seller 2
Buyer 0       0.0     155.0       0.0
Buyer 1       0.0       0.0       0.0
Buyer 2       0.0     210.0       0.0

In [16]:
g.calculate_realized_pnls_and_lots()[0].sum(axis=0)

array([ 87.5, -42.5, -45. ])